[data-theme="light"] {
  --main: #1677b3;
  --fishsix-theme: #425aef;
  --fishsix-text-bg-hover: #f9fbfa;
  --text-bg-hover: rgba(22, 119, 179, 0.7);
  --font-color: #1f2d3d;
  --global-bg: #f3f5f7;
  --main-shadow: #7459d4;
  --fishsix-fontcolor: #1f2d3d;
  --fishsix-fontcolor-hover: #f3f5f7;
  --fishsix-background-color: #fff;
  --fishsix-background-border-color: #fff;
}

[data-theme="dark"] {
  --main: #5c5c5c;
  --fishsix-theme: #ff7c7c;
  --fishsix-text-bg-hover: #e2edfa;
  --text-bg-hover: rgba(22, 119, 179, 0.7);
  --font-color: #e2edfa;
  --global-bg: #fad6ad;
  --main-shadow: #b6a6f0;
  --fishsix-fontcolor: #faddb8;
  --fishsix-fontcolor-hover: #f3f5f7;
  --fishsix-background-color: #121212;
  --fishsix-background-border-color: #586068;
}

body[data-type="tools"] .page-title {
  display: none;
}

/* <main  id="blog-container"> */

body[data-type="tools"] #blog-container,
body[data-type="tools"] #footer {
  -webkit-animation: bottom-top 1s;
  -moz-animation: bottom-top 1s;
  -o-animation: bottom-top 1s;
  -ms-animation: bottom-top 1s;
  animation: bottom-top 1s;
}
body[data-type="tools"] #blog-container {
  max-width: 1400px;
  justify-content: center;
  padding: 1rem;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  margin: 0 auto;
  width: 100%;
}

/* <div class="layout hide-aside" id="content-inner"> */
@media screen and (min-width: 901px) {
  body[data-type="tools"] #blog-container > div:first-child {
    width: 90% !important;
    height: fit-content;
  }
}
body[data-type="tools"] #blog-container > div:first-child {
  width: 74%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
/* <div id="page"> */
body[data-type="tools"]
  #blog-container
  > div:first-child:not(.recent-posts)
  > div {
  border: none;
  border-radius: 0;
  /* background: var(--card-bg); */
  background: #dd8686;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (min-width: 901px) {
  body[data-type="tools"] #blog-container > div > div {
    background: transparent;
    border: none;
    padding: 0;
  }
}

/* <div id="article-container"> */
body[data-type="tools"] #article-container {
  word-wrap: break-word; /* 指定了怎样在单词内断行 */
  overflow-wrap: break-word;
}

/* <div class="flink stars"> */
body[data-type="tools"] #article-container .flink {
  margin-bottom: 20px;
}

body[data-type="tools"] #article-container > :last-child {
  margin-bottom: 0 !important;
}
/* <div class="flink-list"> */

body[data-type="tools"] #article-container .flink-list {
  overflow: hidden;
  padding: 10px 10px 0;
  text-align: center;
}
body[data-type="tools"] #article-container .flink-list {
  padding: 0;
}

/* <div class="flink-list-item"> */
body[data-type="tools"] #article-container .flink-list > .flink-list-item {
  position: relative;
  float: left;
  overflow: hidden;
  line-height: 17px;
  height: 91px;
  padding: 10px;
  -webkit-transform: translateZ(0);
  width: calc(100% / 4 - 2rem);
  margin: 0.5rem 0.25rem;
  border-radius: 0.5rem;
  border: 1px solid var(--fishsix-background-border-color);
  background-color: var(--fishsix-background-color);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body[data-type="tools"]
  #article-container
  .flink-list
  > .flink-list-item:hover {
  border-color: var(--main) !important;
  background-color: var(--main) !important;
  -webkit-box-shadow: var(--main-shadow) !important;
  -moz-box-shadow: var(--main-shadow) !important;
  -ms-box-shadow: var(--main-shadow) !important;
  -o-box-shadow: var(--main-shadow) !important;
  box-shadow: var(--main-shadow) !important;
}
body[data-type="tools"]
  #article-container
  .flink-list
  > .flink-list-item:hover {
  -webkit-transform: scale(1.03) !important;
  -moz-transform: scale(1.03) !important;
  -ms-transform: scale(1.03) !important;
  -o-transform: scale(1.03) !important;
  transform: scale(1.03) !important;
}

@media screen and (min-width: 901px) {
  body[data-type="tools"]
    #blog-container
    #article-container
    .flink-list
    > .flink-list-item {
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    -ms-box-shadow: var(--box-shadow);
    -o-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
  }
}

@media screen and (max-width: 1024px) {
  body[data-type="tools"] #article-container .flink-list > .flink-list-item {
    width: calc(50% - 15px) !important;
  }
}

@media screen and (max-width: 1024px) {
  body[data-type="tools"] #article-container .flink-list > .flink-list-item,
  #article-container .flink-list > .flink-list-card {
    width: calc(100% / 3 - 0.5rem) !important;
  }
}
@media screen and (max-width: 600px) {
  body[data-type="tools"] #article-container .flink-list > .flink-list-item,
  #article-container .flink-list > .flink-list-card {
    width: calc(100% - 0.5rem) !important;
  }
}

body[data-type="tools"]
  #article-container
  .flink-list
  > .flink-list-item:active {
  -webkit-transform: scale(0.97) !important;
  -moz-transform: scale(0.97) !important;
  -ms-transform: scale(0.97) !important;
  -o-transform: scale(0.97) !important;
  transform: scale(0.97) !important;
}

body[data-type="tools"]
  #article-container
  .flink-list
  > .flink-list-item::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--text-bg-hover);
  content: "";
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

body[data-type="tools"]
  #article-container
  .flink-list
  > .flink-list-item::before {
  display: none;
}
body[data-type="tools"]
  #article-container
  .flink-list
  > .flink-list-item:hover::before,
#article-container .flink-list > .flink-list-item:focus::before,
#article-container .flink-list > .flink-list-item:active::before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* <div class="flink-list-item">
        <a href=""...>
*/
body[data-type="tools"] a {
  background-color: transparent;
}
body[data-type="tools"] a {
  color: #99a9bf;
  text-decoration: none;
  word-wrap: break-word;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  overflow-wrap: break-word;
}

body[data-type="tools"] a,
img,
button,
svg,
canvas,
select {
  cursor: var(--pointer-cursor), pointer !important;
}

body[data-type="tools"] #article-container .flink-list > .flink-list-item a {
  text-decoration: none;
}

body[data-type="tools"] a {
  text-decoration: none !important;
}
/*
<div class="flink-item-icon info">         
*/
body[data-type="tools"]
  #article-container
  .flink-list
  > .flink-list-item
  .flink-item-icon {
  overflow: hidden !important;
  width: 80px !important;
  height: 80px !important;
  margin: 0 !important;
  background: var(--global-bg);
  border-radius: 50% !important;
  -webkit-transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -ms-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
}

body[data-type="tools"]
  #article-container
  .flink-list
  > .flink-list-item:hover
  * {
  color: var(--fishsix-text-bg-hover);
}

body[data-type="tools"]
  #article-container
  .flink-list
  > .flink-list-item
  a
  .flink-item-icon {
  float: left;
  overflow: hidden;
  margin: 15px 10px;
  width: 60px;
  height: 60px;
  border-radius: 35px;
  -webkit-transition: width 0.3s ease-out;
  -moz-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  -ms-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

body[data-type="tools"]
  #article-container
  .flink-list
  > .flink-list-item:hover
  .flink-item-icon {
  margin-left: -10px;
  width: 0;
}

body[data-type="tools"]
  #article-container
  .flink-list
  > .flink-list-item:hover
  .flink-item-icon {
  opacity: 0;
  width: 0 !important;
  height: 0 !important;
}

body[data-type="tools"]
  #article-container
  .stars
  .flink-list
  > .flink-list-item
  a
  .flink-item-icon {
  width: 0 !important;
  height: 0 !important;
}

@media screen and (min-width: 901px) {
  body[data-type="tools"]
    #content-inner.hide-aside
    #article-container
    .flink-list
    > .flink-list-item
    a
    .flink-item-icon {
    background: var(--global-bg);
  }
}

/* <div class="flink-item-info"> */
body[data-type="tools"]
  #article-container
  .flink-list
  > .flink-list-item
  .flink-item-info {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  text-align: left;
}
body[data-type="tools"]
  #article-container
  .flink-list
  > .flink-list-item:hover {
  color: #fff;
}

/* 去除鼠标划出现bug */
body[data-type="tools"]
  #article-container
  a:not([data-fancybox="gallery"]):not(.headerlink):not(.cf-friends-link):not(.tag-Link):not(.btn-anzhiyu):not(.no-text-decoration) {
  font-weight: normal;
  border-bottom: none;
  padding: 0;
  text-decoration: none;
  font-family: auto;
}

/* <div class="flink-item-name flink-sitename"> */
body[data-type="tools"] #article-container .flink-item-name {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-size: 1.43em;
  transition: all 0.5s ease;
  height: auto;
  padding: 12px 0 16px 0;
}

/* <div class="flink-item-desc" */
body[data-type="tools"] #article-container .flink-item-desc {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body[data-type="tools"] #article-container .flink-item-desc {
  padding: 16px 10px 16px 0;
  height: 50px;
  font-size: 0.93em;
}
body[data-type="tools"] #article-container .flink-item-desc {
  width: 100%;
  height: auto;
  padding: 0;
  word-break: break-all;
  white-space: break-spaces;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body[data-type="tools"] #blog-container #page {
  background: none;
}
